* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 40px;
}


.nav__btns{
    gap: 50px;
}

.nav__login {
    gap: 100px;
    padding: 14px 16px;
    border-radius: 10px;
    border: 1px solid gray;
    transition: all 0.6s ease-in;
}

.nav__login:hover {
    transform: scale(1.1);
    transition: all 0.6s ease-in;
}

.nav__logo {
    justify-content: space-between;
}

.nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    position: sticky;
    top: 0;
    background-color: #F5F5F5;
    backdrop-filter: blur (12px);
    border-bottom: 1px solid #F5F5F5;
    z-index: 1;
    animation: headerAnim 0.7s ease-in forwards;
}


@keyframes headerAnim {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}


a {
    color: aqua;
    transition: all 0.6s ease-in;
    text-decoration: none;
    color: inherit;
}


.li {
    padding: auto;
}

.li:hover {
    color: aqua;
    transition: all 0.2s ease-in;
}

.nav__ul {
    display: flex;
    align-items: center;
    color: rgb(18, 16, 16);
    list-style-type: none;
    gap: 48px;
}


.nav__btn {
    padding: 17px 24px;
    background-color: #0075FF;
    color: white;
    border-radius: 14px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in;
}

.nav__btn:hover {
    transform: scale(1.03);

}




.hero__btn {
    padding: 16px 25px;
    background-color: #0075FF;
    border-radius: 30px;
    border: none;
    color: #f4f5f4;
    transition: all 0.6s ease-in;
    margin-top: 10px;
}

.hero__btn:hover {
    transform: scale(1.03);
    transition: all 0.3s ease-in;
}


.hero__numbers {
    display: flex;

}

.hero__wrapper {
    display: flex;
    align-items: center;
}

.hero__number {
    padding-top: 20px;
}


.hero__img {
    position: relative;
    left: 24.9%;
}

.hero__call {
    line-height: 1px;
}

.hero__phone {
    padding-left: 50px;
    padding-top: 30px;
}



.hero__h1 {
    padding: 10px 10px 10px 10px;
}

.hero__p {
    padding-bottom: 5px;
    padding-top: 5px;
}

.card__sozlar {
    text-align: center;
}

.card__soz {
    color: gray;
}

.card__cards {
    display: flex;
    gap: 100px;
    justify-content: center;

}


.card__login {
    padding: 10px 10px;
    background-color: #0075FF;
    color: white;
    border-radius: 30px;
    border: none;
    transition: all 0.6s ease-in;
}

.card__login:hover {
    transform: scale(1.1);
    transition: all 0.6s ease-in;
}



.card__log {
    padding: 10px 10px;
    background-color: white;
    color: black;
    border: 1px solid gray;
    border-radius: 20px;
    transition: all 0.6s ease-in;
}

.card__log {
    transform: scale(1.1);
    transition: all 0.6s ease-in;
}

.card__btn {
    margin-left: 500px;
    margin-top: 10px;
    gap: 20px;

}




.aktiv__sozlar {
    text-align: center;
    color: #6E7191;
}

.aktiv__img {
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;

}

.aktiv__cards {
    display: flex;
    justify-content: center;
    gap: 55px;
}

.img__wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
}


.aktiv__rasm {
    text-align: center;
}


.uy__soz {
    color: #6E7191;
}


.uy__cards {
    display: flex;
    gap: 80px;
    justify-content: center;
}



.uy__logo {
    padding-bottom: 70px;
}




.covid__cards {
    background-color: #211F54;
    display: flex;


}

.covid__data {
    display: flex;
    align-items: center;
    gap: 10px;
}

.covid__phone {
    background-color: white;
    border-radius: 50%;
    padding: 16px;
}

.covid__soz {
    color: white;
}

.covid__19 {
    color: white;
}

.covid__logo {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.covid__card {
    padding-left: 100px;
    padding-top: 190px;

}


.covid__btn {
    padding: 10px 10px;
    background-color: #0075FF;
    color: white;
    border: none;
    border-radius: 10px;
    transition: all 0.6s ease-in;
}

.covid__btn:hover {
    transform: scale(1.1);
    transition: all 0.6s ease-in;
}


.covid__number {
    color: white;
    display: inline-block;
}


.house__cards {
    display: flex;
    text-align: center;

}

.one {
    display: flex;
    padding-top: 10px;
}

.two {
    text-align: center;
    display: inline-block;

}


.house__two {
    padding-bottom: 100px;
}

.three {
    display: inline-block;
    gap: 30px;
    padding-left: 50px;
    padding-bottom: 50px;
}

.house__btn {
    padding: 10px 10px;
    background-color: #0075FF;
    color: white;
    border: 1px solid rgb(230, 229, 229);
    border-radius: 10px;
    transition: all 0.6s ease-in;
}

.house__btn:hover {
    transform: scale(1.1);
    transition: all 0.6s ease-in;
}
.house__button {
    justify-content: center;
    margin-top: 10px;
}


.logo__h1 {
    color: gray;
}


.img__h1 {
    color: gray;
}


.img__P {
    padding-bottom: 5px;
    padding-top: 10px;
}

.img__btn {
    padding: 10px 10px;
    background-color: #0075FF;
    color: white;
    border: 1px solid rgb(230, 229, 229);
    border-radius: 10px;
}

.img__aktiv {
    display: flex;
    gap: 20px;
    padding: 20px 20px;
}

.logo__wrapper {
    position: relative;

}

.logo__card {
    display: flex;
}

.logo__btn {
    justify-content: space-between;
    align-items: center;
    margin-left: 900px;
}


.logo__get {
    padding: 10px 10px;
    background-color: #0075FF;
    color: white;
    border: 1px solid rgb(230, 229, 229);
    border-radius: 10px;
    transition: all 0.6s ease-in;
}

.logo__get:hover {
    transform: scale(1.1);
    transition: all 0.6s ease-in;
}



.logo__button {
    padding: 10px 10px;
    background-color: white;
    color: rgb(4, 1, 1);
    border: 1px solid rgb(230, 229, 229);
    border-radius: 10px;
    transition: all 0.6s ease-in;
}

.logo__button:hover {
    transform: scale(1.1);
    transition: all 0.6s ease-in;
}


.logo__texts {
    background-color: white;
    width: 400px;
    align-items: center;
    position: absolute;
    left: 80px;
    top: 400px;
    padding-bottom: 10px;
    padding: 5px 5px;
    padding-top: 10px;
    border-radius: 10px;

}

.logo__text {

    background-color: white;
    width: 400px;
    margin-left: 299px;
    position: absolute;
    right: 300px;
    top: 400px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding: 5px 5px;
    border-radius: 10px;
}

.logo__title {
    display: flex;

}


.inp__number {
    display: inline-block;
    display: flex;
}

.inp__btn {
    padding: 10px 10px;
    background-color: white;
    color: rgb(4, 1, 1);
    border: 1px solid rgb(230, 229, 229);
    border-radius: 10px;
    margin-top: 10px;
}

.inp__cards {
    display: flex;
    gap: 30px;
}

.inp__wrapper {
    padding-top: 230px;
    padding-bottom: 240px;
    background-color: #F7F9FC;
    padding-left: 110px;
    padding-right: 110px;
}

.footer__wrapper {
    background-color: #ffff;
    padding-bottom: 100px;
}

.footer__cards {
    display: flex;
    justify-content: space-between;
}

.wrld {
    display: flex;
    gap: 30px;
}


.free {
    display: flex;
    gap: 30px;
}

.frees {
    display: flex;
    gap: 30px;
    padding-left: 90px;

}

.inp__text {
    display: flex;
}

.inp__inp {
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    border: 1px solid rgb(230, 229, 229);
    ;
}

.inp__input {
    padding: 20px 20px;
    border-radius: 6px;
    border: 1px solid rgb(230, 229, 229);
    ;
}


.inp__h2 {
    padding-bottom: 10px;
    padding-top: 10px;
}

.inp__h3 {
    padding-bottom: 10px;
    padding-top: 10px;
}

.inp__num {
    padding-bottom: 10px;
    padding-top: 10px;
}

.btn__inp {
    padding: 10px 10px;
    background-color: #0075FF;
    color: white;
    border: 1px solid rgb(230, 229, 229);
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 100px;
}

.footer__title {
    padding-left: 20px;
    padding: 10px 10px;
    padding-bottom: 10px;
}

.img__one {
    padding-top: 10px;
}

.footer__one {
    color: #6E7191;
}

.footer__two {
    color: #6E7191;
}


.footer__number {
    color: #0075FF;
}


.footer__btn {
    padding: 10px 10px;
    background-color: #0075FF;
    color: white;
    border: 1px solid rgb(230, 229, 229);
    border-radius: 10px;
    margin-top: 20px;
}

.footer__p {
    color: #0075FF;
}

.footer__hr {
    margin-top: 150px;
}

.footer__img {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
}