* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 40px;
}


.nav__login {
    padding: 10px 10px;
    border-radius: 10px;
}

.nav__logo {
    justify-content: space-between;
}

.nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    position: sticky;
    top: 0;
    background-color: #F5F5F5;
    backdrop-filter: blur (12px);
    border-bottom: 1px solid #F5F5F5;
    z-index: 1;
}


a {
    text-decoration: none;
    color: inherit;
}


.nav__ul {
    display: flex;
    align-items: center;
    color: rgb(18, 16, 16);
    list-style-type: none;
    gap: 48px;
}


.nav__btn {
    padding: 10px 10px;
    background-color: #0075FF;
    color: white;
    transition: all 0.3 ease-in;
    cursor: pointer;
    border: 1px solid gray;
}

.nav__btn :hover {
    background-color: rgb(194, 75, 75);
    color: rgb(123, 51, 51);
    border: 1px solid black;
}


.hero__btn {
    padding: 20px 16px;
    background-color: #0075FF;
    border-radius: 30px;
    border: none;
    color: #f4f5f4;
    margin-top: 10px;
}


.hero__numbers {
    display: flex;

}

.hero__wrapper {
    display: flex;
    align-items: center;
}

.hero__number {
    padding-top: 20px;
}


.hero__img {
    position: relative;
    left: 24.9%;
}

.hero__h1{
    padding: 10px 10px 10px 10px;
}

.hero__p{
    padding-bottom: 5px;
    padding-top: 5px;
}

.card__sozlar {
    text-align: center;
}

.card__soz {
    color: gray;
}

.card__cards {
    display: flex;
    gap: 100px;
    justify-content: center;

}

.card__login {
    padding: 10px 10px;
    background-color: #0075FF;
    color: white;
    border-radius: 30px;
}

.card__log {
    padding: 10px 10px;
    background-color: white;
    color: black;
    border-radius: 20px;
}

.card__btn {
    margin-left: 500px;
    margin-top: 10px;
}


.aktiv__sozlar {
    text-align: center;
    color: #6E7191;
}

.aktiv__img {
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;

}

.aktiv__cards {
    display: flex;
    justify-content: center;
    gap: 55px;
}

.img__wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
}


.aktiv__rasm {
    text-align: center;
}


.uy__soz {
    color: #6E7191;
}


.uy__cards {
    display: flex;
    gap: 80px;
    justify-content: center;
}



.uy__logo {
    padding-bottom: 70px;
}




.covid__cards {
    background-color: #211F54;
    display: flex;


}


.covid__soz {
    color: white;
}

.covid__19 {
    color: white;
}

.covid__logo {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.covid__card {
    padding-left: 100px;
    padding-top: 190px;

}


.covid__btn {
    padding: 10px 10px;
    background-color: #0075FF;
    color: white;
    border: 1px solid rgb(230, 229, 229);
    border-radius: 10px;
}


.covid__number {
    color: white;
    display: inline-block;
}


.house__cards {
    display: flex;
    text-align: center;

}

.one {
    display: flex;
    padding-top: 10px;
}

.two {
    text-align: center;
    display: inline-block;

}


.house__two {
    padding-bottom: 100px;
}

.three {
    display: inline-block;
    gap: 30px;
    padding-left: 50px;
    padding-bottom: 50px;
}

.house__btn {
    padding: 10px 10px;
    background-color: #0075FF;
    color: white;
    border: 1px solid rgb(230, 229, 229);
    border-radius: 10px;
}

.house__button {
    justify-content: center;
    margin-top: 10px;
}


.logo__h1 {
    color: gray;
}


.img__h1 {
    color: gray;
}


 .img__P{
    padding-bottom: 5px;
    padding-top: 10px;
 }
.img__btn {
    padding: 10px 10px;
    background-color: #0075FF;
    color: white;
    border: 1px solid rgb(230, 229, 229);
    border-radius: 10px;
}

.img__aktiv {
    display: flex;
    gap: 20px;
    padding: 20px 20px;
}

.logo__wrapper {
    position: relative;

}

.logo__card {
    display: flex;
}

.logo__btn {
    justify-content: space-between;
    align-items: center;
    margin-left: 900px;
}


.logo__get {
    padding: 10px 10px;
    background-color: #0075FF;
    color: white;
    border: 1px solid rgb(230, 229, 229);
    border-radius: 10px;
}



.logo__button {
    padding: 10px 10px;
    background-color: white;
    color: rgb(4, 1, 1);
    border: 1px solid rgb(230, 229, 229);
    border-radius: 10px;
}


.logo__texts {
    background-color: white;
    width: 300px;
    align-items: center;
    position: absolute;
    left: 80px;
    top: 400px;
     padding-bottom: 10px;
padding-top: 10px;
    border-radius: 10px;
   
}

.logo__text {

    background-color: white;
    width: 300px;
    margin-left: 299px;
    position: absolute;
    right: 300px;
    top: 400px;
    padding-bottom: 10px;
       padding-top: 10px;

      border-radius: 10px;
}

.logo__title {
    display: flex;

}


.inp__number {
    display: inline-block;
    display: flex;
}

.inp__btn {
    padding: 10px 10px;
    background-color: white;
    color: rgb(4, 1, 1);
    border: 1px solid rgb(230, 229, 229);
    border-radius: 10px;
    margin-top: 10px;
}

.inp__cards {
    display: flex;
    gap: 30px;
}

.inp__wrapper {
    padding-top: 230px;
    padding-bottom: 240px;
    background-color: #F7F9FC;
    padding-left: 110px;
    padding-right: 110px;
}

.footer__wrapper {
    background-color: #ffff;
    padding-bottom: 100px;
}

.footer__cards {
    display: flex;
    justify-content: space-between;
}

.wrld {
    display: flex;
    gap: 30px;
}


.free {
    display: flex;
    gap: 30px;
}

.frees {
    display: flex;
    gap: 30px;
    padding-left: 90px;

}

.inp__text {
    display: flex;
}

.inp__inp {
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    border: 1px solid rgb(230, 229, 229);
    ;
}

.inp__input {
    padding: 20px 20px;
    border-radius: 6px;
    border: 1px solid rgb(230, 229, 229);
    ;
}


.inp__h2{
    padding-bottom: 10px;
    padding-top: 10px;
}

.inp__h3{
    padding-bottom: 10px;
    padding-top: 10px;
}

.inp__num{
      padding-bottom: 10px;
    padding-top: 10px;
}

.btn__inp {
    padding: 10px 10px;
    background-color: #0075FF;
    color: white;
    border: 1px solid rgb(230, 229, 229);
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 100px;
}

.footer__title {
    padding-left: 20px;
    padding: 10px 10px;
    padding-bottom: 10px;
}

.img__one{
    padding-top: 10px;
}

.footer__one {
    color: #6E7191;
}

.footer__two {
    color: #6E7191;
}


.footer__number {
    color: #0075FF;
}


.footer__btn {
    padding: 10px 10px;
    background-color: #0075FF;
    color: white;
    border: 1px solid rgb(230, 229, 229);
    border-radius: 10px;
    margin-top: 20px;
}

.footer__p{
    color: #0075FF;
}

.footer__hr{
       margin-top: 150px;
}

.footer__img{
   display: flex;
  align-items: center;
  gap: 30px;
padding-top: 50px;
}